{% extends "baseauth.html" %}
{% load static %}
{% load static %}

{% block page-content %}
<div class="container-fluid">
    <!-- Maintenance banner -->
    {% if maintenance_info %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="background-color: #f3d8796e; color: black; padding: .5rem; border-radius: 5px;">
        <b>{{ maintenance_info }}</b>
    </div>
    {% endif %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Login to Proceed</h1>
        <a href="{% url 'redirect_fun' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Login</a>
    </div></div>
{% block jquery_script %}<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>{% endblock jquery_script %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/transactionform.js' %}"></script>
<script src="{% static 'js/bioauth.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
{% endblock page-content %}
