{% extends "base2.html" %}
{% load static %}
{% load static %}

{% block page-content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2>Verify OTP</h2>
    <form id="verifyOTPForm" method="POST" action="{% url 'verify_otp' %}">
        {% csrf_token %}
        <label for="otp">Enter OTP:</label><br>
        <input type="text" id="otp" name="otp"><br><br>
        <button type="submit" id="verifyOTP">Verify OTP</button>
    </form>
    <p id="verifyStatus"></p>
        {% if otp_verified %}
        <h1>OTP Verification</h1>
        <p>{{ otp_verify_message }}</p>
        {% else %}
        <h1>OTP Verification</h1>
        <p>{{ otp_verify_message }}</p>
        {% endif %}
    </div></div>
    {% block jquery_script %}<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>{% endblock jquery_script %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/transactionform.js' %}"></script>
<script src="{% static 'js/bioauth.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
{% endblock page-content %}