{% extends "base2.html" %}
{% load static %}
{% block page-content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">RDS Device Registration</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>
    <small>Your Biometric Authentication device needs to be Registered to access AEPS Transaction feature.</small>

    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Register New Device</h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="height: 30rem;">
                        <form id="withdrawForm" method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group" >
                                <div class="col-md-9">
                                    <button type="button" id="scanButton" class="btn btn-primary btn-scan" style="margin-left: 25%; margin-right: 25%; width: 300px; margin-top: 8px;" onclick="globalCapture(start_port=11100, end_port=11106)">Click to scan new Bio-Auth Devices</button>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label for="deviceName">Device Name</label>
                                <input type="text" class="form-control" id="deviceName" name="device_name" placeholder="Enter device name" disabled >
                                <small id="mobileNumberHelp" class="form-text text-muted">Minimun Characters Allowed : 6</small>
                            </div>
        
                            <div class="form-group">
                                <label for="inputPurpose">Purpose</label>
                                <textarea class="form-control" id="inputPurpose" name="input_purpose" placeholder="Enter input purpose"></textarea>
                                <small id="mobileNumberHelp" class="form-text text-muted">Minimun Characters Allowed : 12</small>
                            </div>
                            
                            <div class="row">
                                &nbsp; &nbsp; <button type="button" id="registerbioauth" class="btn btn-primary btn-withdraw" onclick="register_New_Device()" >Register Device</button>
                            </div> 
                            <div style="display: none;">
                                    <textarea id="device_info" rows="4" cols="50" name="device_info" ></textarea>
                                <br>
                                    <textarea id="Pid Options" rows="4" cols="50" name="pid_options" ></textarea>
                                <br>
                                    <textarea id="Pid Data" rows="4" cols="50" name="pid_data" ></textarea>
                            </div>             
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- for new device registration -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Instructions</h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="height: 30rem;">
                        <h4>Steps : </h4>
                        {% if auth_reg_instructions %}
                                <ul>
                                    {% for point in auth_reg_instructions %}
                                        <li>{{ point }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No content available.</p>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block jquery_script %}<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>{% endblock jquery_script %}
<!-- Bootstrap JS (Optional, only required if you need Bootstrap JavaScript features) -->
<script src="{% static 'js/transaction/walletTopup.js' %}"></script>
<script src="{% static 'js/bioauth.js' %}"></script>
<!-- Bootstrap JS (Optional, only required if you need Bootstrap JavaScript features) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
{% endblock page-content %}
