{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Withdraw Form</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8" style="margin-top: 50px;">
            <div class="card p-3 shadow">
                <form id="withdrawForm" method="POST" action="{% url 'process_withdrawform' %}">
                    {% csrf_token %}
                    <div class="form-group" id="amountField">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" id="withdrawformamount" name="amount" placeholder="Enter amount" required>
                        <small id="amountHelp" class="form-text text-muted">Enter the amount you want to Topup Wallet.</small>
                    </div>
                    
                    <div class="btn-group" role="group" aria-label="Withdraw Buttons">
                        <button type="button" class="btn btn-secondary withdraw-btn" data-amount="100">100</button>
                        <button type="button" class="btn btn-secondary withdraw-btn" data-amount="500" style="margin-left: 10px;">500</button>
                        <button type="button" class="btn btn-secondary withdraw-btn" data-amount="1000" style="margin-left: 10px;">1000</button>
                        <button type="button" class="btn btn-secondary withdraw-btn" data-amount="2000" style="margin-left: 10px;">2000</button>
                    </div>
                    

                    <br><br>
                    <div class="row">
                        &nbsp; &nbsp; <button type="button" id="capture_button" onclick="globalCapture()" class="btn btn-primary btn-authenticate">Authenticate</button> &nbsp; &nbsp; &nbsp; 
                        <button type="submit" id="proceed_button" class="btn btn-primary btn-withdraw" disabled>Proceed</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 50px;">
            <div class="card p-3 shadow">
                <div class="advertising-content">
                    <h4>Instructions</h4>
                    <ul>
                        {% for point in instruction_data.Instruction.points %}
                            <li>{{ point }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/walletTopup.js' %}"></script>

<!-- Bootstrap JS (Optional, only required if you need Bootstrap JavaScript features) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock content %}
</body>
</html>
